/* *{
    margin: 0;
} */

html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

article {
    padding: 1px 2px;
    width: 400px;
    height: 20vh;
    overflow: scroll;
}