.footer{
    background-color: var(--clr-red);
    color: var(--clr-black);
    text-align: center;
}

.footer-text{
   padding: .8rem
}

@media screen and (min-width: 1440px) {
    .footer-text{
        font-size: 1.4rem
     }
}