.main-card {
    background: var(--clr-primary);
    background: var(--gr-main);
    margin: 0;
    text-align: center;
    color: var(--clr-white);
    font-size: 1.5em;
    padding: 25px 35%;
}

.main-card h2 {
    margin: 0;
}

.main-card p {
    text-align: left;
}

.main-card i {
    font-size: 25px;
}

.main-card button {
    font-size: 1.1em;
    color: var(--clr-white);
    background: none;
    border: 5px solid var(--clr-white);
    padding: 10px 25px;
    margin: 15px;
    text-transform: uppercase;
    font-weight: 500;
}