.main-card-info {
    text-align: center;
    color: var(--clr-gray-text)
}

.main-card-info h3 {
    font-size: 1.7em;
    letter-spacing: 5px;
    font-weight: 300;
    padding: 15px 20% 5px;
}

.main-card-info-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px 70px;
}

.main-card-info-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.main-card-info-item-content-text{
    text-align: center;
}

.main-info-item-img {
    border: 3px solid var(--clr-gray-text);
    border-radius: 50%;
    margin: 5px;
}

.main-info-item-img img{
    width: 100%;
    border-radius: 50%;
    padding: 0px;
    padding: 5px 5px 2px 5px;
}