@media screen and (max-width: 600px) {

    #navbarSupportedContent,
    .container-fluid.hero img,
    .hero-btns.contact-btn a {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        display: unset;
    }

    .navbar-brand img {
        margin-left: 4rem;
    }

    #home .container {
        padding: 1rem;
    }

    .container-fluid.hero .container h1 {
        padding-bottom: 3rem;
        margin: 0;
    }

    .container-fluid.hero .container p {
        font-size: 1.2rem;
        letter-spacing: 0;
    }

    .hero-btns,
    .hero-btns.service-btn a,
    .col-12.col-sm-12.col-lg-6 img {
        margin-bottom: 5rem;
    }

    .container-fluid.hero .container .hero-btns,
    .contact-nav,
    .hero-btns.service-btn,
    .col-12.col-sm-12.col-lg-4.service-txt {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }

    .col-12.col-sm-12.col-lg-4.service-txt h2 {
        font-size: 3rem;
    }

    .col-12.col-sm-6.col-lg-4 {
        max-width: 100%;
        margin: 0 auto;
    }

    .col-sm-6 {
        flex: 0 0 0;
    }

    .col-12 col-sm-6 col-lg-4 .service-box {
        text-align: left;
        height: 50%;
        width: 100%;
    }

    .col-12.col-sm-12.col-lg-6 p {
        font-size: 1.5rem;
    }

    .col-12 h3 {
        width: 90%;
        margin: 0 auto;
    }

    .col-12 .contact-nav {
        margin-top: 2rem;
    }

    .col-12 h6 {
        padding-bottom: 1rem;
    }
}