:root {
    --clr-primary: #e24e2a;
    --clr-grey: #ececec;
    --clr-grey-dark: #3f3f3f;
    --clr-grey-text: #575652;
    --clr-grey-bg: #383838;
    --clr-green: #1b9772;
    --clr-green-text: #3aa483;
    --clr-green-link: #8ec2aa;
    --clr-white: #fff;

    --header-height: 66px;
}