* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 700px;
    height: 500px;
    margin: 60px;
    position: absolute;
    /* Remove the below rules for judge commit */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.new {
    position: relative;
    top: -200px;
    right: 150px;
}