@import url("https://use.fontawesome.com/releases/v6.1.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');


@import url("variables.css");
@import url("reset.css");

@import url("components/header.css");

@import url("sections/cover.css");
@import url("sections/services.css");
@import url("sections/about.css");
@import url("sections/benefits.css");

@import url("components/footer.css");

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a:hover{
    color: var(--clr-primary);
}
.bold{
    font-weight: bold;
}
.opacity{
    opacity: 0.5;
}
.opacity_h2{
    opacity: 0.5;
    line-height: 1.5;
}
.container{
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
}


#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}