#features {
    background-color: var(--clr-grey-bg);
    color: var(--clr-white);
}

#features .section-grid-item .icon-container {
    padding: 1.5rem;
    background-color: var(--clr-primary);
    display: inline-block;
    margin-bottom: 0.5rem;
}

#features .section-grid-item .icon-container {
    font-size: 48px;
}

#features .section-grid-item .title {
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

#features .section-grid-item .divider {
    height: 1px;
    background-color: var(--clr-grey-text);
    margin-bottom: 1rem;
}

#features .section-grid-item .desc {
    font-size: 20px;
    color: var(--clr-grey-text);

}