#hero {
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#hero .img-container {
    overflow: hidden;
}

#hero .img-container .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .content {
    padding: 4rem;
    background-color: var(--clr-primary);
}

#hero .content .text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-white);
    line-height: 1.5;
    font-size: 19px;
}