html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
}

div:nth-child(2) {
    position: relative;
    padding: 1rem;
}


section.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    width: 400px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card a {
    background: rgb(0, 153, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card h3 {
    font-family: Georgia, serif;
    font-size: 1em;
}

.card img {
    width: 100%;
    /* Only for judge commit 
      position: absolute; */
}

.card p {
    margin-bottom: 3.5rem;
    line-height: 1.5;
}