:root {
    --clr-black-heading: rgb(41, 41, 41);
    --clr-gray-text: gray;
    --clr-green-btn: #03a87c;
    --clr-white: #fff;
    --clr-blue-highlight: #b8fae8;
}



body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    margin: 2% 15%;
}

h1 {
    font-size: 55px;
}

p {
    color: var(--clr-gray-text);
}

.p-heading {
    margin-top: -35px
}

.main {
    display: flex;
    flex-direction: row;
}

.main button {
    position: absolute;
    padding: 12px 50px;
    background-color: var(--clr-green-btn);
    border: 1px solid var(--clr-green-btn);
    border-radius: 4px;;
    color:var(--clr-white);
    font-weight: bold;
    bottom: 0px;
    font-size: 16px;
    margin-bottom: 20px;
}

.button-part {
    width: 20%;
    position: relative;
}

.desc {
    width: 30%;
    margin-left:130px
}

.desc p {
    margin-top:30px;
    font-size:16px;
}


.sec-hr {
    position: relative;
    align-items: center;
}

.hr {
    width:300px;
    align-self: center;
    margin-left: 18%;
    margin-top:40px;
}

.highlight {
    background-color: var(--clr-blue-highlight);
}